# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
# out is custom output folder too
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
remappedSrc

# other
eclipse

# custom
run
runClient
runServer
archive
logs
